{% extends 'base.html' %}
{% block container %}
  <header class="container">
    {% include "navigation.html" %}
  </header>
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>

    {% if request.args['action'] == 'remove' %}
    <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
    {% endif %}
    {% if not session['is_auth'] %}
    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="{{ url_for('auth.render_login') }}">войдите</a> или <a
        href="{{ url_for('auth.render_register') }}">зарегистрируйтесь</a></div>
    {% endif %}
    <div class="row mt-5">

      <div class="col-4">
        {% if session['is_auth'] and session['total'] %}
        <form action="{{ url_for('store.render_cart') }}" method="POST" novalidate>
          {{ form.csrf_token }}
          <h4 class="">Ваши данные</h4>
          <div class=" md-4 order-md-1">

            {{ form.client_name.label }}
            {{ form.client_name(class_="form-control") }}

            {{ form.client_mail.label }}
            {{ form.client_mail(class_="form-control") }}

            {{ form.client_phone.label }}
            {{ form.client_phone(class_="form-control") }}

            {{ form.client_address.label }}
            {{ form.client_address(class_="form-control") }}

            {% if form.errors %}
              <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>


          <button type="submit" class=" mt-3 mb-5 btn btn-danger">Оформить заказ</button>

        </form>
        {% endif %}
      </div>

      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">{{meals|length}} блюда в корзине</h4>
        <table class="table">
          <tbody>
          {% for meal in meals %}
          <tr>
            <th scope="row">{{meal['title']}}"</th>
            <td></td>
            <td>1</td>
            <td>{{meal['price']}}</td>
            <td>
              <form action="{{ url_for('store.render_delete') }}" method="POST">
                <input type="hidden" name="meal_id" value="{{meal['id']}}"/>
                <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{{ session['total']|default(0) }} руб</p>
      </div>
    </div>

  </main>
{% endblock %}

